@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
.grecaptcha-badge {
  transform: scale(0.75);
  transform-origin: bottom right;
}
